@media screen and (max-width: 426px) {
  .landing h1 {
    margin-top: 0;
    font-size: 400%; }
  .landing .embedded {
    flex-wrap: wrap; }
    .landing .embedded a,
    .landing .embedded iframe {
      flex-grow: 1;
      width: 100%;
      display: block;
      margin: 16px auto; }
  main #tracklist > div > div {
    margin: 16px 0; }
  main #tracklist > div > div .tag-list {
    display: flex;
    flex-wrap: wrap; }
    main #tracklist > div > div .tag-list > * {
      margin: 4px; }
  main #tracklist > div b {
    display: none; }
  .fab-button {
    position: static;
    text-align: center;
    display: block !important;
    width: 80%;
    margin: 0 auto 24px; } }
