services:
  zoomoid-de:
    image: zoomoid-de
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
    develop:
      watch:
        - action: rebuild
          path: .
