#privacy {
  max-width: 800px;
  margin: 0 auto; }

body {
  background: #111; }

.logo {
  width: 250px;
  margin: 250px auto 0;
  display: block; }

.fab {
  position: fixed;
  z-index: 100;
  background: #ffd600;
  border-radius: 50px;
  outline: none;
  bottom: 32px;
  right: 32px;
  border: none;
  height: 48px;
  width: 48px;
  color: #000;
  text-align: center;
  line-height: 48px !important; }
  .fab i {
    line-height: 24px; }
