html {
  position: relative;
  height: 100%; }

body {
  position: absolute;
  width: 100%;
  margin: 0;
  height: 100%; }

footer {
  z-index: 5;
  background: #000;
  position: relative;
  padding: 1em 2em;
  font-family: 'Roboto Mono', monospace; }

.liamm {
  box-sizing: border-box;
  box-shadow: 0 150px 100px 100px #fff;
  background: #fff;
  width: 100%;
  margin-bottom: 300px;
  color: #000;
  /* z-index: 1; */
  position: relative; }
  @media screen and (max-width: 768px) {
    .liamm {
      padding: 0 5% 0; } }
  @media screen and (min-width: 768px) {
    .liamm {
      padding: 0 15% 0; } }
  .liamm p a {
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 16px;
    background: #ffd600;
    border-radius: 4px;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    transition: all 0.25s ease;
    color: #000000; }
    .liamm p a:hover, .liamm p a:active {
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25); }
  .liamm h3 {
    text-decoration: underline;
    text-decoration-color: #ffd600;
    color: #000 !important; }

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 12.5%;
  margin: 0 auto; }
  section .logo {
    height: 320px;
    display: block;
    margin: 0 auto; }
  section .content-wrapper {
    margin: 0;
    flex-grow: 1;
    padding: 0 10%;
    z-index: 1; }
    section .content-wrapper .headline-alt {
      display: none; }
    section .content-wrapper em {
      display: block;
      font-size: 1.3em; }
    section .content-wrapper .link-wrapper a {
      text-transform: uppercase;
      display: inline-block;
      margin: 2em 8px;
      padding: 12px 16px;
      background: #ffd600;
      border-radius: 4px;
      font-family: 'Karla', sans-serif;
      font-weight: bold;
      transition: all 0.25s ease;
      color: #000000; }
      section .content-wrapper .link-wrapper a:hover, section .content-wrapper .link-wrapper a:active {
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25); }
  section .video-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    background: #191919; }
  section img:not(.logo) {
    width: 66%;
    height: auto;
    margin: 0 auto;
    display: block; }
  section iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%; }

#tracks {
  display: block; }

#introduction .background video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000; }

#introduction .content-wrapper {
  z-index: 1; }
  #introduction .content-wrapper p {
    max-width: 768px;
    margin: 0 auto; }

section {
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  background-color: #000;
  background-position: top; }

#introduction,
#interstellar {
  background-image: url("/img/particle_grid.png"); }

#bloodrush {
  background-image: url("/img/tunnel.jpg"); }
  #bloodrush p {
    color: #000; }

#wildworld {
  background-image: url("/img/eco.jpg"); }

#lucid {
  background-image: url("/img/lucid.jpg"); }

#atomicspark {
  background-image: url("/img/atomicspark.jpg"); }

#higherthanclouds {
  background-image: url("/img/clouds.jpg"); }

h1 {
  text-align: center; }

#references .content-wrapper {
  display: flex;
  flex-grow: 1; }
  #references .content-wrapper a {
    text-align: center;
    font-size: 3em;
    flex-grow: 1;
    border: none; }
    #references .content-wrapper a:active, #references .content-wrapper a:hover {
      color: #ffd600; }

@media screen and (max-width: 768px) {
  main {
    padding-top: 33vh; }
  .liamm h3.alt {
    line-height: 1.2 !important; }
  section {
    width: 100%; }
    section:not(:last-child) {
      margin-bottom: 128px; }
    section .content-wrapper {
      padding: 0; }
      section .content-wrapper > h3 {
        display: none; }
      section .content-wrapper > h1 {
        font-size: 5rem; }
      section .content-wrapper .headline-alt {
        display: block;
        padding: 10%; }
        section .content-wrapper .headline-alt h6 {
          font-size: 1.5rem;
          color: #ffd600;
          padding: 0;
          letter-spacing: -1.5px;
          font-weight: bold;
          line-height: 0.5; }
        section .content-wrapper .headline-alt h3.alt {
          padding: 1rem 0 0;
          line-height: 0.66; }
          section .content-wrapper .headline-alt h3.alt small {
            color: gray;
            padding-left: 2px;
            letter-spacing: -2px;
            font-size: 0.6em; }
      section .content-wrapper > p,
      section .content-wrapper > .link-wrapper,
      section .content-wrapper > em {
        padding: 0 10%;
        display: block; }
  .typography h3 {
    padding: 0 5%;
    font-size: 2.5rem;
    letter-spacing: -4px; } }
