* {
  box-sizing: border-box; }

html {
  position: relative;
  height: 100%; }

body {
  position: absolute;
  width: 100%;
  margin: 0;
  height: 100%; }

footer {
  z-index: 5;
  background: #000;
  position: relative;
  padding: 1em 2em;
  font-family: 'Roboto Mono', monospace; }

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 6em 1em 6em;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  background-color: #000;
  background-position: top; }
  section h3, section .headline-alt, section p {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
  section .headline-alt {
    display: none; }
  section .content-wrapper {
    flex-grow: 1;
    padding: 0 10%;
    z-index: 1; }
    section .content-wrapper em {
      display: block;
      font-size: 1.3em; }
    section .content-wrapper .link-wrapper {
      margin: 8px 0; }
      section .content-wrapper .link-wrapper a {
        text-transform: uppercase;
        display: inline-block;
        margin: 4px 4px 4px 0;
        padding: 12px 16px;
        background: #ffd600;
        border-radius: 4px;
        font-family: 'Karla', sans-serif;
        font-weight: bold;
        transition: box-shadow 0.25s ease;
        color: #000000; }
        section .content-wrapper .link-wrapper a:hover, section .content-wrapper .link-wrapper a:active {
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25); }
  section .video-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    background: transparent; }
    section .video-wrapper::before {
      content: 'Waiting for YouTube...';
      top: 50%;
      left: 50%;
      position: absolute;
      display: block;
      transform: translate(-50%, -50%);
      font-family: 'Karla', sans-serif;
      font-weight: normal; }
  section img:not(.logo) {
    width: 66%;
    height: auto;
    margin: 0 auto;
    display: block; }
  section iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%; }

#tracks {
  display: block; }

#introduction .content-wrapper {
  z-index: 1; }
  #introduction .content-wrapper .logo {
    max-width: 320px;
    width: 100%;
    display: block;
    margin: 0 auto; }
  #introduction .content-wrapper p {
    margin: 0 auto; }

#liamm {
  background: #fff;
  display: block;
  color: #000; }
  #liamm h3 {
    text-decoration: underline;
    text-decoration-color: #ffd600;
    color: #000 !important; }
  #liamm h3, #liamm .headline-alt, #liamm p {
    text-shadow: none; }

#introduction,
#interstellar {
  background-image: url("/img/particle_grid.png"); }

#bloodrush {
  background-image: url("/img/tunnel.jpg"); }
  #bloodrush p {
    color: #000; }

#wildworld {
  background-image: url("/img/eco.jpg"); }

#lucid {
  background-image: url("/img/lucid.jpg"); }

#atomicspark {
  background-image: url("/img/atomicspark.jpg"); }

#higherthanclouds {
  background-image: url("/img/clouds.jpg"); }

#references .content-wrapper {
  display: flex;
  flex-grow: 1; }
  #references .content-wrapper a {
    text-align: center;
    font-size: 3em;
    flex-grow: 1;
    border: none; }
    #references .content-wrapper a:active, #references .content-wrapper a:hover {
      color: #ffd600; }

@media only screen and (min-width: 768px) {
  section {
    padding: 3em 0;
    align-items: center; }
    section .content-wrapper .cover-wrapper img {
      max-width: 360px;
      display: block;
      margin: 2em auto 0; }
  #introduction p {
    max-width: 768px; } }

@media only screen and (min-width: 426px) and (max-width: 768px) {
  section {
    padding: 3em 3em 3em;
    align-items: flex-end; }
    section .content-wrapper {
      padding: 0 1em; }
      section .content-wrapper .video-wrapper {
        width: calc(100% + 2em);
        padding-top: calc(56.25% + (0.5625 * 2em));
        margin-left: -1em; }
      section .content-wrapper .cover-wrapper img {
        max-width: 360px;
        display: block;
        margin: 2em auto 0; } }

@media only screen and (min-width: 376px) and (max-width: 426px) {
  section {
    padding: 3em 0 0;
    align-items: flex-end; }
    section .content-wrapper {
      padding: 0 1em; }
      section .content-wrapper .video-wrapper {
        width: calc(100% + 2em);
        padding-top: calc(56.25% + (0.5625 * 2em));
        margin-left: -1em; }
      section .content-wrapper .cover-wrapper img {
        width: calc(100% + 2em);
        margin-left: -1em; } }

@media only screen and (max-width: 376px) {
  section {
    padding: 3em 0 0;
    align-items: flex-end; }
    section .content-wrapper {
      padding: 1em 1em 0; }
      section .content-wrapper > h3 {
        display: none; }
      section .content-wrapper > .headline-alt {
        display: block; }
      section .content-wrapper .video-wrapper {
        width: calc(100% + 2em);
        padding-top: calc(56.25% + (0.5625 * 2em));
        margin-left: -1em; }
      section .content-wrapper .cover-wrapper img {
        width: calc(100% + 2em);
        margin-left: -1em; }
  #datkomm h3.alt {
    font-size: 2.5em; }
    #datkomm h3.alt small {
      display: block;
      font-size: 70%;
      letter-spacing: -2px; } }
