html {
  position: relative;
  height: 100%; }

body {
  position: absolute;
  width: 100%;
  margin: 0;
  height: 100%; }

footer {
  z-index: 5;
  background: #000;
  position: relative;
  padding: 1em 2em; }

.liamm {
  box-sizing: border-box;
  box-shadow: 0 150px 100px 100px #fff;
  background: #fff;
  width: 100%;
  margin-bottom: 300px;
  color: #000;
  /* z-index: 1; */
  position: relative; }
  @media screen and (max-width: 768px) {
    .liamm {
      padding: 0 5% 0; } }
  @media screen and (min-width: 768px) {
    .liamm {
      padding: 0 15% 0; } }
  .liamm h3 {
    text-decoration: underline;
    text-decoration-color: #ffd600;
    color: #000 !important; }

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 75%;
  margin: 0 auto; }
  section .logo {
    height: 320px;
    display: block;
    margin: 0 auto; }
  section .content-wrapper {
    margin: 0;
    flex-grow: 1;
    padding: 0 10%;
    z-index: 1; }
    section .content-wrapper .headline-alt {
      display: none; }
    section .content-wrapper em {
      display: block;
      font-size: 1.3em; }
    section .content-wrapper .link-wrapper a {
      display: inline-block;
      margin: 2em 8px; }
  section .video-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    background: #191919; }
  section img:not(.logo) {
    width: 66%;
    height: auto;
    margin: 0 auto;
    display: block; }
  section iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%; }

#tracks {
  display: block; }

#pauseButton {
  opacity: 0.2;
  position: fixed;
  z-index: 100;
  background: #ffd600;
  border-radius: 50px;
  outline: none;
  bottom: 32px;
  right: 32px;
  border: none;
  height: 48px;
  width: 48px; }
  #pauseButton i {
    line-height: 24px; }
  #pauseButton:active, #pauseButton:hover {
    opacity: 1; }

#introduction .background video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000; }

#introduction .content-wrapper {
  z-index: 1; }

h1 {
  text-align: center; }

#references .content-wrapper {
  display: flex;
  flex-grow: 1; }
  #references .content-wrapper a {
    text-align: center;
    font-size: 3em;
    flex-grow: 1;
    border: none; }
    #references .content-wrapper a:active, #references .content-wrapper a:hover {
      color: #ffd600; }

@media screen and (max-width: 768px) {
  main {
    padding-top: 33vh; }
  .liamm h3.alt {
    line-height: 1.2 !important; }
  section {
    width: 100%; }
    section:not(:last-child) {
      margin-bottom: 128px; }
    section .content-wrapper {
      padding: 0; }
      section .content-wrapper > h3 {
        display: none; }
      section .content-wrapper > h1 {
        font-size: 5rem; }
      section .content-wrapper .headline-alt {
        display: block;
        padding: 10%; }
        section .content-wrapper .headline-alt h6 {
          font-size: 1.5rem;
          color: #ffd600;
          padding: 0;
          letter-spacing: -1.5px;
          font-weight: bold;
          line-height: 0.5; }
        section .content-wrapper .headline-alt h3.alt {
          padding: 1rem 0 0;
          line-height: 0.66; }
          section .content-wrapper .headline-alt h3.alt small {
            color: gray;
            padding-left: 2px;
            letter-spacing: -2px;
            font-size: 0.6em; }
      section .content-wrapper > p,
      section .content-wrapper > .link-wrapper,
      section .content-wrapper > em {
        padding: 0 10%;
        display: block; }
  .typography h3 {
    padding: 0 5%;
    font-size: 2.5rem;
    letter-spacing: -4px; } }
