$background: #111;

* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  margin: 0;
  height: 100%;
}

footer {
  z-index: 5;
  background: #000;
  position: relative;
  padding: 1em 2em;
  font-family: 'Roboto Mono', monospace;
}



section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 6em 1em 6em;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  background-color: #000;
  background-position: top;
  h3, .headline-alt, p {
    text-shadow: 0 2px 4px rgba(0,0,0,0.25);
  }
  .headline-alt {
    display: none;
  }
  .content-wrapper {
    
    flex-grow: 1;
    padding: 0 10%;
    z-index: 1;

    em {
      display: block;
      font-size: 1.3em;
    }

    .link-wrapper {
      margin: 8px 0;
      a {
        text-transform: uppercase;
        display: inline-block;
        margin: 4px 4px 4px 0;
        padding: 12px 16px;
        background: #ffd600;
        border-radius: 4px;
        font-family: 'Karla', sans-serif;
        font-weight: bold;
        transition: box-shadow 0.25s ease;
        color: #000000;

        &:hover,
        &:active {
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .video-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    background: transparent;
    &::before {
      content: 'Waiting for YouTube...';
      top: 50%;
      left: 50%;
      position: absolute;
      display: block;
      transform: translate(-50%, -50%);
      font-family: 'Karla', sans-serif;
      font-weight: normal;
    }
  }

  img:not(.logo) {
    width: 66%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

#tracks {
  display: block;
}

#introduction {
  .content-wrapper {
    z-index: 1;
    // padding-bottom: 3em;
    .logo {
      max-width: 320px;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    p {
      margin: 0 auto;
    }
  }
}

#liamm {
  background: #fff;
  display: block;
  // @media screen and (max-width: 768px) {
  //   
  //   padding: 128px 5% 0;
  // }

  // @media screen and (min-width: 768px) {
  //   padding: 6em 15% 6em;
  //   .content-wrapper {
  //     display: flex;
  //     article {
  //       display: block;
  //     }
  //   }
  // }
  .cover-wrapper img {
    width: calc(100% + 2em);
    margin-left: -1em;
  }
  color: #000;

  h3 {
    text-decoration: underline;
    text-decoration-color: #ffd600;
    color: #000 !important;
  }
  h3, .headline-alt, p {
    text-shadow: none;
  }
}

#introduction,
#interstellar {
  background-image: url('/img/particle_grid.png');
}

#bloodrush {
  background-image: url('/img/tunnel.jpg');
  p {
    color: #000;
  }
}

#wildworld {
  background-image: url('/img/eco.jpg');
}

#lucid {
  background-image: url('/img/lucid.jpg');
}

#atomicspark {
  background-image: url('/img/atomicspark.jpg');
}

#higherthanclouds {
  background-image: url('/img/clouds.jpg');
}

#references {
  .content-wrapper {
    display: flex;
    flex-grow: 1;

    a {
      text-align: center;
      font-size: 3em;
      flex-grow: 1;
      border: none;

      &:active,
      &:hover {
        color: #ffd600;
      }
    }
  }
}


@media only screen and (min-width: 768px){
  // Desktop
  section {
    padding: 3em 0;
    align-items: center;
  }
  #introduction {
    p {
      max-width: 768px;
    }
  }
  #liamm {
    .cover-wrapper img {
      max-width: 360px;
      margin: 0 auto;
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 768px){
  // Tablet
  section {
    padding: 3em 0 0;
    align-items: flex-end;

    .content-wrapper {
      padding: 0 1em;
      .video-wrapper {
        width: calc(100% + 2em);
        padding-top: calc(56.25% + (0.5625 * 2em));
        margin-left: -1em;
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  // Mobile
  section {
    padding: 3em 0 0;
    align-items: flex-end;
    .content-wrapper {
      // background: rgba(0,0,0,0.2);
      // box-shadow: 0 0px 100px 50px rgba(0, 0, 0, 0.2);
      padding: 1em 0 0;
      margin: 0 2em;
      & > h3 {
        display: none;
      }
      & > .headline-alt {
        display: block;
      }
      .video-wrapper {
        width: calc(100% + 2em);
        padding-top: calc(56.25% + (0.5625 * 2em));
        margin-left: -1em;
      }
    }
  }
}

// @media screen and (max-width: 768px) {

//   main {
//     //padding-top: 33vh;
//   }

//   #introduction {
//     padding-top: 33vh;
//   }

//   .liamm {
//     h3.alt {
//       line-height: 1.2 !important;
//     }
//   }

//   section {
//     &:not(:last-child) {
//       padding-bottom: 128px;
//     }
//     &:not(:first-child) {
//       padding-top: 128px;
//     }
//     // width: 100%;
//     // padding-left: 

//     .content-wrapper {
//       padding: 0;

//       &>h3 {
//         display: none;
//       }

//       &>h1 {
//         font-size: 5rem;
//       }

//       .headline-alt {
//         display: block;
//         padding: 0;

//         h6 {
//           font-size: 1.5rem;
//           color: #ffd600;
//           padding: 0;
//           letter-spacing: -1.5px;
//           font-weight: bold;
//           line-height: 0.5;
//         }

//         h3.alt {
//           padding: 1rem 0 0;
//           line-height: 0.66;

//           small {
//             color: darken(#fff, 50%);
//             padding-left: 2px;
//             letter-spacing: -2px;
//             font-size: 0.6em;
//           }
//         }
//       }

//       &>p,
//       &>.link-wrapper,
//       &>em {
//         padding: 0;
//         display: block;
//       }
//     }
//   }

//   .typography h3 {
//     padding: 0;
//     font-size: 2.5rem;
//     letter-spacing: -4px;
//   }
// }

// @media only screen and (max-width: 375px){

// }