$background: #111;

html {
  position: relative;
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  margin: 0;
  height: 100%;
}

main {
  // height: 100%;
  //background: $background
}

footer {
  z-index: 5;
  background: #000;
  position: relative;
  padding: 1em 2em;
  font-family: 'Roboto Mono', monospace;
}

.liamm {
  box-sizing: border-box;
  box-shadow: 0 150px 100px 100px #fff;
  background: #fff;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 0 5% 0;
  }

  @media screen and (min-width: 768px) {
    padding: 0 15% 0;
  }

  p {
    a {
      text-transform: uppercase;
      display: inline-block;
      //margin: 2em 8px;
      padding: 12px 16px;
      background: #ffd600;
      border-radius: 4px;
      //border: solid 2px darken($color: #ffd600, $amount: 0);
      font-family: 'Karla', sans-serif;
      font-weight: bold;
      transition: all 0.25s ease;
      color: #000000;

      &:hover,
      &:active {
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
        //border-color: darken(#ffd600, 5);
      }
    }
  }

  margin-bottom: 300px;
  color: #000;

  h3 {
    text-decoration: underline;
    text-decoration-color: #ffd600;
    color: #000 !important;
  }

  /* z-index: 1; */
  position: relative;
}

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 12.5%;
  margin: 0 auto;
  //background: $background;

  .logo {
    height: 320px;
    display: block;
    margin: 0 auto;
  }

  .content-wrapper {
    margin: 0;
    flex-grow: 1;
    padding: 0 10%;
    z-index: 1;

    .headline-alt {
      display: none;
    }

    em {
      display: block;
      font-size: 1.3em;
    }

    .link-wrapper {
      a {
        text-transform: uppercase;
        display: inline-block;
        margin: 2em 8px;
        padding: 12px 16px;
        background: #ffd600;
        border-radius: 4px;
        //border: solid 2px darken($color: #ffd600, $amount: 0);
        font-family: 'Karla', sans-serif;
        font-weight: bold;
        transition: all 0.25s ease;
        color: #000000;

        &:hover,
        &:active {
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
          //border-color: darken(#ffd600, 5);
        }
      }
    }
  }

  .video-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    background: lighten($background, 3%);
  }

  img:not(.logo) {
    width: 66%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

#tracks {
  display: block;
}

// #pauseButton {
//   opacity: 0.2;
//   position: fixed;
//   z-index: 100;
//   background: #ffd600;
//   border-radius: 50px;
//   outline: none;
//   bottom: 32px;
//   right: 32px;
//   border: none;
//   height: 48px;
//   width: 48px;

//   i {
//     line-height: 24px;
//   }

//   &:active,
//   &:hover {
//     opacity: 1;
//   }
// }

#introduction {
  

  .background {
    video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      background: #000;
    }
  }

  .content-wrapper {
    z-index: 1;

    p {
      max-width: 768px;
      margin: 0 auto;
    }
  }
}

section {
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  background-color: #000;
  background-position: top;
}

#introduction,
#interstellar {
  background-image: url('/img/particle_grid.png');
}

#bloodrush {
  background-image: url('/img/tunnel.jpg');
  p {
    color: #000;
  }
}

#wildworld {
  background-image: url('/img/eco.jpg');
}

#lucid {
  background-image: url('/img/lucid.jpg');
}

#atomicspark {
  background-image: url('/img/atomicspark.jpg');
}

#higherthanclouds {
  background-image: url('/img/clouds.jpg');
}

h1 {
  text-align: center;
}

#references {
  .content-wrapper {
    display: flex;
    flex-grow: 1;

    a {
      text-align: center;
      font-size: 3em;
      flex-grow: 1;
      border: none;

      &:active,
      &:hover {
        color: #ffd600;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  main {
    padding-top: 33vh;
  }

  .liamm {
    h3.alt {
      line-height: 1.2 !important;
    }
  }

  section {
    &:not(:last-child) {
      margin-bottom: 128px;
    }

    width: 100%;

    .content-wrapper {
      padding: 0;

      &>h3 {
        display: none;
      }

      &>h1 {
        font-size: 5rem;
      }

      .headline-alt {
        display: block;
        padding: 10%;

        h6 {
          font-size: 1.5rem;
          color: #ffd600;
          padding: 0;
          letter-spacing: -1.5px;
          font-weight: bold;
          line-height: 0.5;
        }

        h3.alt {
          padding: 1rem 0 0;
          line-height: 0.66;

          small {
            color: darken(#fff, 50%);
            padding-left: 2px;
            letter-spacing: -2px;
            font-size: 0.6em;
          }
        }
      }

      &>p,
      &>.link-wrapper,
      &>em {
        padding: 0 10%;
        display: block;
      }
    }
  }

  .typography h3 {
    padding: 0 5%;
    font-size: 2.5rem;
    letter-spacing: -4px;
  }
}