.typography {
  color: #ffffff; }
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    color: #ffd600; }
  .typography h1 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: -6px;
    margin: 0; }
  .typography h2 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: -5px;
    margin: 0; }
  .typography h3 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: -4px;
    margin: 0; }
  .typography h4 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: -3px;
    margin: 0; }
  .typography h5 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: -2px;
    margin: 0; }
  .typography h6 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: -2px;
    margin: 0; }
  .typography p {
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    letter-spacing: -1px;
    margin: 0;
    line-height: 1.5;
    word-wrap: normal; }
  .typography code {
    font-family: 'Roboto Mono'; }
  .typography .abstract, .typography blockquote, .typography em {
    font-family: 'Playfair Display', serif;
    font-variant: normal;
    font-style: normal; }
  .typography a:not(.no-styling) {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 2px transparent; }
    .typography a:not(.no-styling):hover, .typography a:not(.no-styling):active {
      border-color: #ffd600; }

@media only screen and (min-width: 768px) {
  .typography {
    font-size: 16px; } }

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .typography {
    font-size: 14px; } }

@media only screen and (max-width: 375px) {
  .typography {
    font-size: 12px; } }
