// Main colors
// Material Palette  
$red: #d50000
$pink: #f50057
$purple: #d500f9
$deep-purple: #651fff
$indigo: #304ffe
$blue: #2962ff
$light-blue: #0091ea
$cyan: #00e5ff
$teal: #00bfa5
$green: #00c853
$light-green: #64dd17
$lime: #aeea00
$yellow: #ffd600
$amber: #ffab00
$orange: #ff6d00
$deep-orange: #dd2c00

$dark-grey: #1a1a1a
$grey: #515151
$light-grey: #a1a1a1
// High contract colors
$black: #000000
$white: #ffffff