footer
  +font(1em, normal, 0px)
  padding: 1em 2em
  color: $text
  padding: 180px 12px 0
  a 
    color: inherit
    text-decoration: none
    transition: color $transition-time $transition-curve
    &:hover,
    &:active 
      color: $theme--accent

  .references
    display: flex
    flex-wrap: wrap
    li
      padding: 0 1em
      list-style: none outside none
    span 
      margin-left: 8px
      display: none
  .privacy
    +font-size(0.8em)