header
  background: $theme--primary-dark
  min-height: 100% 
  .content-wrapper
    color: $white
    display: block
    margin: 0 auto
    max-width: 768px
    width: 100%
    padding: 6em 12px 0  
    img
      position: relative
      max-height: 120px
      margin: 0 auto
      display: block
    p
      +md
        padding: 0 2em