nav
  position: absolute
  width: 100%
  top: 0
  left: 0
  z-index: 20
  ul
    padding: 1em 5em 0 2em 
    margin: 0 auto
    +sm
      display: none
    display: flex
    align-items: center
    list-style: none outside none
    li 
      text-align: center
      padding: 1em 2em
      a 
        text-decoration: none
        border-bottom: solid 2px
        border-color: transparent
        &:active, &:hover
          text-decoration: none
          border-color: $may-5
          color: $may-6
      +sm
        padding: 0 1em
      &.icon
        flex-grow: 0
        +sm
          display: none
        img
          height: 3em
          width: 3em
      &.spacer
        flex-grow: 1
  .collapse-button
    padding: 1em 0
    text-align: center
    +sm
      display: block
      margin: 0 auto
    display: none
  &:target
    +sm
      ul
        display: block

#intro
  position: relative
  height: 100vh
  width: 100%
  background-size: cover
  background-position: center center
  background-attachment: scroll 
  .body
    position: absolute
    bottom: 0
    margin-left: 10%
    +sm
      margin-left: 0
    +md
      margin-left: 0
    height: auto
    max-height: 80vh
    max-width: 100%
  .text
    position: absolute
    @media (max-width: 1400px)
      display: none
    z-index: 10
    left: 50%
    width: 40%
    top: 40%

.only-mobile
  display: none
  @media (max-width: 1400px)
      display: block