nav
  ul
    max-width: $tablet-width
    margin: 0 auto
    +sm
      display: none
    display: flex
    list-style: none outside none
    padding: 0
    li 
      text-align: center
      flex-grow: 1
      padding: 1em
      +sm
        padding: 0 1em
  .collapse-button
    padding: 1em 0
    text-align: center
    +sm
      display: block
      margin: 0 auto
    display: none
  &:target
    +sm
      ul
        display: block

header
  background: $theme--primary
  padding-top: 48px
  padding-bottom: 2em
  max-width: $tablet-width
  width: 90%
  margin: 0 auto
  img
    display: block
    margin: 0 auto
    width: 66%