main
  background: $theme--primary
  margin: 0 auto
  section
    max-width: $tablet-width
    position: relative
    margin: 0 auto
    & > * 
      padding: 0 5%
    // padding-top: 4em 


.logo
  width: 250px
  margin: 0 auto
  display: block

a
  color: inherit
  &:active, &:hover
    color: $theme--accent

#contact 
  .contact--mail 
    +font-size(1em) 
    color: $text
    text-decoration-color: $text
    &:active, &:hover
      color: $theme--accent
      text-decoration-color: $theme--accent
  .references
    li
      list-style: none outside none
      line-height: 2
      +font-size(1em)
      a
        display: block
        margin: 0 auto
        color: $text
        &:active, &:hover
          color: $theme--accent
        text-decoration: none
        i
          text-align: right
          width: 2em
          margin-right: 8px
        span
          text-align: left
      
.catalogue
  padding: 0
  background: $may-2
  .tab
    display: flex
    +sm
      display: block
    .header
      padding: 1em
      background-color: $may-1
      flex-grow: 1
      align-items: center
      &:active, &:hover
        color: $theme--accent
      i
        display: block
        line-height: 2
        text-align: center
        +sm
          display: inline
          text-align: left
      a
        text-align: center
        display: block
        text-decoration: none
        +sm
          display: inline
          text-align: left
  .entry
    .body
      display: none
      padding: 1em
    .collapser
      display: none  
    &:target
      .header i
        &:before
          content: '\f077'
      .collapser 
        display: block
        position: fixed
        width: 48px
        height: 48px
        right: 24px
        bottom: 24px
        z-index: 1000
        color: $white
        border-radius: 100px
        background: $theme--accent
        box-shadow: 0 2px 5px transparentize($theme--accent, 0.5)
        text-decoration: none
        i
          color: inherit
          font-size: 24px
          line-height: 2
          display: block
          text-align: center
          color: $black
      .body
        display: block

.track
  +font(1em, normal)
  line-height: 1.33
  &:not(:last-child)
    padding: 0 0 1em
    &::after
      height: 1px
      padding-top: 0
      background: $theme--primary-text
      border-radius: 1em
      width: 66%
      margin: 1em auto 0
      content: ' '
      display: block
  h4.title
    margin: 0
    text-transform: none
    +font-size(1em)
    span.title
      +font-size(2em)
      padding-top: 0.33em
      font-weight: bold
      color: $theme--accent
      display: block
    span.artist
      +font-size(1em)
      font-weight: normal
      display: block
      
  h5.subtitle
    +font-size(1em)
    margin-top: 0
    text-transform: none
    line-height: 1.5
  .text
    text-transform: none
    a
      color: inherit
    *
      max-width: 100%
    img
      max-width: 50%
      margin: 1em auto
      display: block
  .links
    padding: 0 0 2em
    display: flex
    +sm
      display: block
    a 
      display: block
      padding: 0.5em 2em
      margin: 8px 1em
      text-align: center
      text-decoration: none
      transition: background-color $transition-time $transition-curve, border-color $transition-time $transition-curve
      background: $theme--primary
      border-radius: 2em
      color: $text
      border: solid 2px $theme--accent
      &:hover, &:active
        color: $black
        border-color: $theme--accent
        background-color: $theme--accent

  .video
    box-sizing: border-box
    margin: 0 auto
    width: 100%
    padding-top: 56.25%
    position: relative
    background: transparent
    &::before
      content: 'Waiting for YouTube...'
      top: 50%
      left: 50%
      position: absolute
      display: block
      transform: translate(-50%, -50%)
      font-family: 'Karla', sans-serif
      font-weight: normal
    iframe
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
