main
  background: $theme--primary
  max-width: $tablet-width
  width: 90%
  margin: 0 auto
  section
    position: relative
    padding-top: 4em 

a
  color: inherit
  &:active, &:hover
    color: $theme--accent

#contact 
  .contact--mail 
    +font-size(1em) 
    color: $text
    text-decoration-color: $text
    &:active, &:hover
      color: $theme--accent
      text-decoration-color: $theme--accent
  .references
    li
      list-style: none outside none
      line-height: 2
      +font-size(1em)
      a
        display: block
        margin: 0 auto
        color: $text
        &:active, &:hover
          color: $theme--accent
        text-decoration: none
        i
          padding-right: 12px
      
.catalogue
  padding: 1em 0
  .entry
    .header
      padding-bottom: 1em
      display: flex
      align-items: center
      i
        padding-right: 8px
      a
        padding-right: 16px
        +font-size(1.2em)
      span
        flex-grow: 1
        font-size: 0.5
        line-height: 1
        border-bottom: solid 1px $text
        &::before
          content: ''
    .body
      display: none
      padding: 0 1em 1em
    .collapser
      display: none  
    &:target
      .collapser 
        display: block
        position: fixed
        width: 48px
        height: 48px
        right: 24px
        bottom: 24px
        z-index: 1000
        color: $theme--primary-contrast
        border-radius: 100px
        background: $theme--accent
        box-shadow: 0 0 15px transparentize($theme--accent, 0.5)
        text-decoration: none
        i
          color: inherit
          font-size: 24px
          line-height: 2
          display: block
          text-align: center
      .body
        display: block

.track
  +font(1em, normal)
  
  
  &:not(:last-child)
    padding: 0 0 1em
    &::after
      height: 1px
      padding-top: 0
      background: $theme--primary-text
      border-radius: 1em
      width: 66%
      margin: 1em auto 0
      content: ' '
      display: block
  h1.title
    margin: 0
    +font-size(2em)
    text-transform: none
    span.title
      +font-size(1em)
    span.artist
      +font-size(0.8em)
      &::after
        content: ' \2013'
      +sm
        display: block
        &::after
          content: ''
  h2.subtitle
    +font-size(1.5em)
    text-transform: none
  .text
    text-transform: none
    a
      color: inherit
    *
      max-width: 100%
    img
      max-width: 50%
      margin: 1em auto
      display: block
  .links
    padding: 2em 0
    display: flex
    +sm
      display: block
    a 
      display: block
      padding: 0.5em 2em
      margin: 0 1em
      text-align: center
      text-decoration: none
      transition: background-color $transition-time $transition-curve, border-color $transition-time $transition-curve
      background: $theme--primary
      border-radius: 2em
      color: $text
      border: solid 2px $theme--accent
      &:hover, &:active
        color: $white
        border-color: $theme--accent
        background-color: $theme--accent

  .video
    box-sizing: border-box
    margin: 0 auto
    width: 100%
    padding-top: 56.25%
    position: relative
    background: transparent
    &::before
      content: 'Waiting for YouTube...'
      top: 50%
      left: 50%
      position: absolute
      display: block
      transform: translate(-50%, -50%)
      font-family: 'Karla', sans-serif
      font-weight: normal
    iframe
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%

#misc
  p
    +font-size(0.8em)