body
  background: $theme--primary
  .logo
    width: 250px
    margin: 250px auto 0
    display: block
main
  p
    text-transform: none !important
  max-width: $tablet-width
  padding: 2em 4%
  margin: 0 auto
  background: $theme--primary
  h1
    +font-size(3em)

.back
  display: block
  text-align: center
  +font-size(1.5em)
  padding: 1em 0
  i
    padding-right: 16px