.typography 
  color: $text
  +font(1em, normal)
  h1 
    +font(2em, bold, 8px)
  h2 
    +font(2em, bold, 4px)
  h3 
    +font(2em, bold, 2px)
  h4 
    +font(2em, bold)
  h5 
    +font(2em, bold)
  h6 
    +font(2em, bold)
  p, li 
    line-height: 2
    word-wrap: normal
  nav
    +font(1em, normal, 0px)
  code
    font-family: 'Roboto Mono'
  
  .abstract, blockquote, em 
    font-family: 'Playfair Display', serif
    font-variant: normal
    font-style: normal
