$tablet-width: 768px
$desktop-width: 1024px
$mobile-l-width: 425px

$transition-time: 200ms !default;
$transition-curve: cubic-bezier(.4, 0, .2, 1) !default;
$slide-down-time: 350ms !default;
$slide-up-time: 350ms !default;

$theme--primary: $dark-grey
$theme--primary-text: $white
$theme--primary-contrast: $white
$theme--primary-dark: darken($dark-grey, 20%)
$theme--primary-light: $dark-grey
$theme--accent: $orange

$accent: $theme--accent
$theme: $theme--primary

$text: $white
$background: $dark-grey