@import "../node_modules/rfs/sass"

@import "colors"
@import "variables"

@import "normalize"
@import "mixins"

@import "typography"

@import "header"
@import "footer"

@import "animations"

html 
  position: relative
  height: 100%
  width: 100%
body
  width: 100%
  height: 100%
  background: $background
  display: flex
  flex-direction: column
  main
    flex-grow: 1
.frontpage
  @import "main"
.subpage-work
  @import "work"
.subpage-privacy
  @import "privacy"