=rounded
  border-top-left-radius: $radius
  border-top-right-radius: $radius
  
=sm
  @media (max-width: #{$tablet-width - 1})
    @content

=md
  @media (min-width: #{$mobile-l-width}) and (max-width: #{$tablet-width - 1})
    @content

=lg
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1})
    @content

=xl
  @media (min-width: #{$desktop-width})
    @content

=fade
  background: $zoomoid-fade
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-color: white
  padding-bottom: 8px
=fade2
  background: -webkit-linear-gradient(45deg, $teal, $blue)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-color: white
  padding-bottom: 8px
