=font($size, $color: $text, $weight: 600, $spacing: 0pt)
  font-family: 'Inter', sans-serif
  font-size: 16pt
  line-height: 1s
  color: $color
  font-weight: 500
  // text-transform: uppercase
  letter-spacing: -0.04em

=heading($size, $color: $text, $spacing: 0pt, $condense: 0pt)
  font-family: 'Inter', sans-serif
  font-weight: bold
  font-size: 36pt
  margin-bottom: $spacing
  letter-spacing: -0.04em
  line-height: 1
  color: $color
  // text-transform: uppercase

=title
  font-family: 'Inter', sans-serif
=body
  font-family: 'Inter', sans-serif
=rounded
  border-top-left-radius: $radius
  border-top-right-radius: $radius
=sm
  @media (max-width: #{$tablet-width - 1})
    @content

=md
  @media (min-width: #{$mobile-l-width}) and (max-width: #{$tablet-width - 1})
    @content

=lg
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1})
    @content

=xl
  @media (min-width: #{$desktop-width})
    @content