
@use 'colors'
@use 'variables'
  
$sans: 'Inter var', sans-serif
$title: 'Inter var', sans-serif
$serif: 'Playfair Display', serif
$large-serif: 'Abril Fatface', serif

=font
  font-family: $sans
  font-size: 1em
  line-height: 1.5
  font-weight: 300
  color: variables.$text-color

=heading
  font-family: $title
  font-weight: 600
  font-size: 3em
  margin-bottom: 0
  line-height: 1
  color: variables.$text-color
  // text-transform: uppercase

=title
  font-family: $title
  font-weight: 700
  letter-spacing: -0.02em
=body
  font-family: $serif
  font-weight: 500
  
=typography
  font-family: $sans
  color: variables.$text-color
  font-size: 20pt
  & > *
    color: inherit
    font-family: inherit
  h1, h2, h3, h4, h5, h6
    +heading
  nav
    +font
  p, li
    word-wrap: normal
  code
    font-family: monospace
  p, a, label, button
    +font
  .abstract, blockquote, em 
    font-family: $large-serif
    font-variant: normal
    font-style: normal
    font-weight: 300

=link
  padding: 4px 8px
  overflow: hidden hidden
  position: relative
  transition-delay: 0.4s
  transition: color 0.1s linear
  color: variables.$text-color
  display: inline-block
  &::after
    overflow: hidden hidden
    transition: width 0.5s cubic-bezier(1, 0, 0, 1)
    content: ''
    width: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transform: translateX(-100%)
    background: variables.$text-color
    z-index: -1
  &:hover, &:active
    color: invert(variables.$text-color)
    transition: color 0.1s linear
    &::after
      width: 100%
      transition: width 0.15s cubic-bezier(1, 0, 0, 1)
