@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.page {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.page b {
  font-family: var(--font-family-sans);
  font-weight: 600;
}

/* .page i {
  @apply font-serif;
} */

.page small {
  font-size: var(--font-size-sm);
  line-height: var(--font-size-sm--line-height);
}

.page h1 span::after {
  content: " ";
  white-space: pre;
}
