@reference "../../../styles/globals.css";

.page b {
  @apply font-sans font-semibold;
}


.page small {
  @apply text-sm;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes slide-up {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-reft {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.page h1 span::after {
  content: " ";
  white-space: pre;
}
