@media screen and (max-width: 426px) {
    
    .top-row {
        font-size: 14px;
        padding: 2em 1em 1em;
        height: 30vh;
        .inner {
            
        }
    }
    .bottom-row {
        font-size: 16px;
        .inner {
            padding: 100px 1em 120px;
        }
    }
}