@import "tailwindcss";

@theme {
  --breakpoint-xs: 400px;
  --font-sans: "basiersquare", sans-serif;
  --font-serif: "Novela", serif;
  --text-10xl: 10rem;
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
  body {
    scroll-behavior: smooth;
    font-family: var(--font-serif);
    background-color: var(--color-neutral-950);
  }
  a {
    color: inherit;
    @apply hover:underline;
  }
  :lang("de") {
    quotes: "„" "“";
  }
  :lang("en") {
    quotes: "“" "”";
  }
}

.slide-enter-active,
.slide-exit-active {
  transition: transform 200s;
}

@media (prefers-reduced-motion: reduce) {
  .slide-enter-active,
  .slide-exit-active {
    transition-property: none;
  }
}

.slide-enter {
  transform: translateX(120%);
}

.slide-enter-active {
  transform: translateX(0%);
}

.slide-enter-done {
  transform: translateX(0%);
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(120%);
}

.release i {
  font-family: var(--font-serif);
}

.release b {
  font-family: var(--font-sans);
  font-weight: 600;
}

@keyframes slide-up {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes clouds {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.cloud {
  animation-name: clouds;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
