@import "tailwindcss";

@theme {
  /* --font-family-sans: "Basier Square"; */
  --font-family-sans: "Hanken Grotesk";
  --font-family-serif: "Novela";

  --breakpoint-xs: 400px;

  --width-screen-xs: var(--breakpoint-xs);
  --width-screen-sm: var(--breakpoint-sm);
  --width-screen-md: var(--breakpoint-md);
  --width-screen-lg: var(--breakpoint-lg);
  --width-screen-xl: var(--breakpoint-xl);
  --width-screen-2xl: var(--breakpoint-2xl);

  --font-size-10xl: 10rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: ${defaultRingColor};
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;

  
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
  body {
    scroll-behavior: smooth;
    @apply font-serif bg-neutral-950;
  }
  a {
    color: inherit;
    @apply hover:underline;
  }
  :lang("de") {
    quotes: "„" "“";
  }
  :lang("en") {
    quotes: "“" "”";
  }

}

.slide-enter-active,
.slide-exit-active {
  transition: transform 200s;
}

@media (prefers-reduced-motion: reduce) {
  .slide-enter-active,
  .slide-exit-active {
    transition-property: none;
  }
}

.slide-enter {
  transform: translateX(120%);
}

.slide-enter-active {
  transform: translateX(0%);
}

.slide-enter-done {
  transform: translateX(0%);
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(120%);
}

.release i {
  @apply font-serif;
}

.release b {
  @apply font-sans font-semibold;
}

@keyframes slide-up {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes clouds {
  0% {
    transform: translateY(0%)
  }
  50% {
    transform: translateY(5%)
  }
  100% {
    transform: translateY(0%)
  }
}

.cloud {
  animation-name: clouds;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

