$muted: rgba(0, 0, 0, 0.5);
$link: #ffd600;
$text-color: #000000;
$background: #ffffff;

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    margin: 16px 0;
    color: $text-color;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 1.33em;
    padding-bottom: 50px;

    b {
        font-weight: bold;
        font-family: inherit;
    }
}

.top-row {
    font-size: 24px;
    height: 40vh;
    background: #ffffff;
    padding: 2em 2em 1em;
    transform: skewY(-5deg);
    position: relative;
    .inner {
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        transform: skewY(5deg);
        height: 100%;
        .flex-spacer {
            flex-grow: 2;
        }
        h3 {
            font-size: 1em;
            // text-shadow: 0px 2px 1px #ffffff;
        }
        h1 {
            font-size: 2em;
            line-height: 1;
            z-index: 5;
            // text-shadow: 0px 2px 1px #ffffff;
    
        }
        h5 {
            font-size: 1.25em;
            z-index: 5;
            // text-shadow: 0px 1px #ffffff;
    
        }
    }
    
}
.bottom-row {
    min-height: 80vh;
    background: #000000;
    transform: skewY(-5deg);
    font-size: 20px;
    z-index: -5;
    color: #ffffff;
    font-family: 'Karla', sans-serif;
    margin-bottom: 4em;
    .inner {
        padding: 100px 3em 120px;
        transform: skewY(5deg);
        max-width: 768px;
        margin: 0 auto;
        .cover {
            max-width: 320px;
            margin: 0 auto;
            width: 100%;
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }
            padding-bottom: 2em;
        }
        audio {
            display: block;
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
        }

        .streaming {
            padding: 1em 2em 0;
        }

        .tabs {
            padding: 1em 2em 0;
        }
    }
}

a {
    color: inherit;
}

body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

main {
    // margin: 120px auto 120px;
    // max-width: 768px;
    // width: 90%;
    // max-width: 768px;
    // overflow-y: hidden;
    height: 100vh;
}

.fab-button {
    //box-shadow: 0 0 24px opacify($link, $amount: 0.5);
    // position: fixed;
    display: block;
    width: 220px;
    margin: 0 auto 2em;
    z-index: 100;
    background: #ffd600;
    border-radius: 50px;
    outline: none;
    bottom: 32px;
    right: 32px;
    border: none;
    height: 48px;
    padding: 0 1em;
    color: #000;
    text-align: center;
    text-decoration: none;
    line-height: 48px !important;

    i {
        line-height: 24px;
    }

    span {
        font-family: 'Karla', sans-serif;
    }
}