* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  margin: 16px 0;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0; }

p {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 1.33em;
  padding-bottom: 50px; }
  p b {
    font-weight: bold;
    font-family: inherit; }

.top-row {
  font-size: 24px;
  height: 40vh;
  background: #ffffff;
  padding: 2em 2em 1em;
  transform: skewY(-5deg);
  position: relative; }
  .top-row .inner {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transform: skewY(5deg);
    height: 100%; }
    .top-row .inner .flex-spacer {
      flex-grow: 2; }
    .top-row .inner h3 {
      font-size: 1em; }
    .top-row .inner h1 {
      font-size: 2em;
      line-height: 1;
      z-index: 5; }
    .top-row .inner h5 {
      font-size: 1.25em;
      z-index: 5; }

.bottom-row {
  height: 80vh;
  background: #000000;
  transform: skewY(-5deg);
  font-size: 20px;
  z-index: -5;
  color: #ffffff;
  font-family: 'Karla', sans-serif;
  margin-bottom: 4em; }
  .bottom-row .inner {
    padding: 100px 3em 0;
    transform: skewY(5deg);
    max-width: 768px;
    margin: 0 auto; }
    .bottom-row .inner .cover {
      max-width: 320px;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 2em; }
      .bottom-row .inner .cover img {
        width: 100%;
        display: block;
        margin: 0 auto; }
    .bottom-row .inner audio {
      display: block;
      width: 100%;
      max-width: 480px;
      margin: 0 auto; }
    .bottom-row .inner .streaming {
      padding: 1em 2em 0; }
    .bottom-row .inner .tabs {
      padding: 1em 2em 0; }

a {
  color: inherit; }

body {
  background: #ffffff;
  margin: 0;
  padding: 0; }

main {
  height: 100vh; }

.fab-button {
  display: block;
  width: 220px;
  margin: 0 auto 2em;
  z-index: 100;
  background: #ffd600;
  border-radius: 50px;
  outline: none;
  bottom: 32px;
  right: 32px;
  border: none;
  height: 48px;
  padding: 0 1em;
  color: #000;
  text-align: center;
  text-decoration: none;
  line-height: 48px !important; }
  .fab-button i {
    line-height: 24px; }
  .fab-button span {
    font-family: 'Karla', sans-serif; }
