$muted: rgba(0, 0, 0, 0.5);
$link: #ffd600;
$text-color: #000;
$background: #fff;

h1,
h2 {
    font-family: 'Karla', sans-serif;
    font-size: 4em;
    margin: 16px 0;
    color: $text-color;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 1.33em;
    padding-bottom: 50px;

    b {
        font-weight: bold;
        font-family: inherit;
    }
}

h2 {
    font-size: 4em;
    letter-spacing: -4px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: $link;
}

body {
    background: $background;
}

main {
    margin: 120px auto 120px;
    max-width: 768px;
    width: 90%;
    max-width: 768px;
}

.landing {
    width: 90%;
    max-width: 768px;

    h1 {
        margin-top: 3em;
        line-break: loose;
        word-wrap: normal;
        word-break: normal;
        font-size: 6em;
        letter-spacing: -8px;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: $link;
    }

    &>img {
        width: 100%;
        margin: 100px auto;
        display: block;
    }

    a {
        display: block;
        font-family: 'Karla', sans-serif;
        font-size: 1.5em;
        color: $text-color;
        font-weight: bold;
        text-decoration-color: $link;

        i {
            margin-right: 12px;
        }
    }

    h2 {
        margin-top: 1em;
    }
    
    .embedded {
        padding-bottom: 5em;
        display: flex;
        align-items: center;

        a,
        iframe {
            padding: 0 12px;

            &.soundcloud {
                display: flex;
                align-items: center;
                color: $text-color;

                &:hover,
                &:active {
                    color: $link;
                    transition: all 0.25s ease-in-out;
                }

                i {
                    font-size: 3em;
                }

                b {
                    font-size: 2em;
                    font-family: 'Karla', sans-serif;
                    font-weight: bold;
                    margin-left: 8px;
                    letter-spacing: -3px;
                }

                text-decoration: none;
            }
        }
    }
}

.fab-button {
    box-shadow: 0 0 24px opacify($link, $amount: 0.5);
    position: fixed;
    z-index: 100;
    background: #ffd600;
    border-radius: 50px;
    outline: none;
    bottom: 32px;
    right: 32px;
    border: none;
    height: 48px;
    padding: 0 1em;
    color: #000;
    text-align: center;
    text-decoration: none;
    line-height: 48px !important;

    i {
        line-height: 24px;
    }

    span {

        font-family: 'Karla', sans-serif;
    }
}

.tag-list {
    span {
        border-radius: 50px;
        background: #efefef;
        padding: 3px 8px;
        color: $text-color;
        font-family: 'Roboto Mono', monospace;

        &::before {
            content: '#';
            padding-right: 4px;
            color: fade-out(#000, $amount: 0.5);
        }
    }
}


main #tracklist div {
    display: flex;
    align-content: flex-start;
    align-items: flex-end;

    div {
        display: block;

        h3 {
            font-family: 'Karla', sans-serif;
            letter-spacing: -2px;
            font-size: 2em;
            margin: 16px 0;
            color: $text-color;
        }

        a {
            display: block;
            margin: 16px 0;
            color: $link;
            font-family: 'Open Sans', sans-serif;
        }

        .tag-list {
            font-family: 'Open Sans', sans-serif;
        }
    }

    b {
        font-family: 'Montserrat', sans-serif;
        color: $text-color;
        font-size: 120px;
        padding-right: 24px;

        &::after {
            content: '.'
        }

        width: 150px;
    }

}