$muted: rgba(0,0,0,0.5);
$link: #ffd600;

body {
    background: #111;
}

main {
    margin: 120px auto 120px;
    max-width: 768px;
    width: 90%;
    min-width: 768px;
}

img {
    width: 50%;
    margin: 0 0 32px;
    display: block;
}

.tag-list {
    span {
        border-radius: 50px;
        background: #333;
        padding: 3px 8px;
        color: #fff;
        font-family: 'Roboto Mono', monospace;
        &::before {
            content: '#';
            padding-right: 4px;
            color: fade-out(#fff, $amount: 0.5);
        }
    }
}

b {
    color: #efefef;
    font-size: 120px;
    padding-right: 24px;
    &::after {
        content: '.'
    }
    width: 100px;
}

main div {
    display: flex;
    align-content: flex-start;
    align-items: flex-end;
    div {
        display: block;
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 2em;
            margin: 16px 0;
            color: #fff;
        }
        a {
            display: block;
            margin: 16px 0;
            color: $link;
            font-family: 'Open Sans', sans-serif;
        }
        .tag-list {
            font-family: 'Open Sans', sans-serif;
        }
    }
    b {
        font-family: 'Montserrat', sans-serif;
    }
}